<!doctype html>
<html>
  <head>
    <title>Pika RoBot Real-time QRcode detection</title>
    <link rel="stylesheet" href='../static/style.css'/>
    <style>
    body {
        text-align: center;
    }
    </style>
  </head>
  <body>
    <h1>Real-time QR code Detection</h1>
    <h3><img src="{{ url_for('video_feed_QR') }}" width="80%"></h3>
    
    <hr>
    <h3> Return to Main page ==> <a href="/"class="button">Return</a></h3>
    <hr>
    <p> @2020 Senior Design Project</p>
  </body>
</html>

